# Recommender system : collaborative

In [15]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

## 1. User based collaborative filtering

In [29]:
df = pd.DataFrame(data={
    "movie0":[1,0,0,1],
    "movie1":[1,0,0,1],
    "movie2":[0,1,1,0],
    "movie3":[0,1,0,0],
}, index=["user0","user1","user2","user3"])
df

       movie0  movie1  movie2  movie3
user0       1       1       0       0
user1       0       0       1       1
user2       0       0       1       0
user3       1       1       0       0

In [30]:
user =2

In [41]:
sims = cosine_similarity(df)
sims

array([[1.        , 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.70710678, 0.        ],
       [0.        , 0.70710678, 1.        , 0.        ],
       [1.        , 0.        , 0.        , 1.        ]])

In [ ]:
np.fill_diagonal(sims, 0)
themost_similar_user = np.argmax(sims[user])
themost_similar_user

In [46]:
movie_diff = df.values[themost_similar_user] - df.values[user]
if movie_diff.sum() <= 0:
    print("You have watched all")
else:
    for k,v in enumerate(movie_diff):

        if v == 1:
            movie_id = k
            print("It's time to watch movie"+str(movie_id))

It's time to watch movie3

## 2. Item based collaborative filtering

In [48]:
df = pd.DataFrame(data={
    "user0":[1,0,0,1],
    "user1":[1,0,0,1],
    "user2":[0,1,1,0],
    "user3":[0,1,0,0],
}, index=["movie0","movie1","movie2","movie3"])
df

        user0  user1  user2  user3
movie0      1      1      0      0
movie1      0      0      1      1
movie2      0      0      1      0
movie3      1      1      0      0

In [52]:
movie =2

In [53]:
sims = cosine_similarity(df)
sims

array([[1.        , 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.70710678, 0.        ],
       [0.        , 0.70710678, 1.        , 0.        ],
       [1.        , 0.        , 0.        , 1.        ]])

In [54]:
np.fill_diagonal(sims, 0)
themost_similar_movie = np.argmax(sims[movie])
themost_similar_movie

1